.header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: aqua;
    padding: 10px;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-list__item {
    list-style: none;
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}